body {
    max-width: 1280px;
    margin: auto;
}

h1 {
    text-align: center;
}

.centered {
    text-align: center;
}

#connected, #disconnectButton {
    display: none;
}

.hexdump {
    font-family: monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.button {
    background-color: #343131;
    border: none;
    color: #f9f9f9;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 1.2rem;
    white-space: nowrap;
}

.button[disabled] {
    cursor: default;
    opacity: .5;
}

.button:hover {
    background-color: #9d1c24;
    outline: 0;
}

textarea, select, input[type="file"] {
    color: #4a4a4a;
    padding: .55rem .75rem;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: .25rem;
}

legend, fieldset {
    display: block;
    margin-bottom: .5rem;
}
legend {
    font-weight: bold;
}

.mono {
    white-space: pre;
    font-family: monospace;
}

.warning {
    color: #e6c82e;
    font-weight: bold;
    background-color: #fcf8e3;
    border: 1px solid;
    border-radius: .25rem;
    padding: .375rem .75rem;
    display: inline-block;
}
.error {
    color: #cc2929;
    font-weight: bold;
    background-color: #f2dede;
    border: 1px solid;
    border-radius: .25rem;
    padding: .375rem .75rem;
    display: inline-block;
}
.success {
    color: #58cc29;
    font-weight: bold;
    background-color: #dff0d8;
    border: 1px solid;
    border-radius: .25rem;
    padding: .375rem .75rem;
    display: inline-block;
}

progress {
    width: 50%;
}

input:invalid {
    color:red;
}
